body {
	background-color: #000000;
}
#root {
	width: 640px;
	height: 800px;
	margin-top: -10px;
}
.main {
	color: #bcbcbc;
	font-size: 30px;
	font-family: 'Zen Loop',cursive;
	text-decoration: none;
	position: absolute;
	margin-top: 10px;
	margin-left: -40px;
}
.main:hover {
	color: #fff;
}
.line-1 {
	width: 600px;
	height: 1px;
	background-color: #bcbcbc;
	margin-top: 40px;
}
.home {
	color: #bcbcbc;
	font-size: 22px;
	font-family: 'Zen Loop',cursive;
	text-decoration: none;
	position: absolute;
	margin-top: -5px;
	margin-left: -120px;
}
.home:hover {
	color: #fff;
}
.blog {
	color: #bcbcbc;
	font-size: 22px;
	font-family: 'Zen Loop',cursive;
	text-decoration: none;
	position: absolute;
	margin-top: -22px;
	margin-left: -60px;
}
.blog:hover {
	color: #fff;
}
.contact {
	color: #bcbcbc;
	font-size: 22px;
	font-family: 'Zen Loop',cursive;
	text-decoration: none;
	position: absolute;
	margin-top: -40px;
	margin-left: -5px;
}
.contact:hover {
	color: #fff;
}
.portfolio {
	color: #bcbcbc;
	font-size: 22px;
	font-family: 'Zen Loop',cursive;
	text-decoration: none;
	position: absolute;
	margin-top: -58px;
	margin-left: 70px;
}
.portfolio:hover {
	color: #fff;
}
.count-1 {
	color: #fff;
	font-size: 22px;
	font-family: 'Zen Loop',cursive;
	position: absolute;
	text-decoration-line: underline;
	cursor: pointer;
	margin-left: -50px;
}
.count-1:hover {
	color: #bcbcbc;
}
.blog-1 {
	color: #bcbcbc;
	font-size: 22px;
	font-family: 'Zen Loop',cursive;
	position: absolute;
	margin-left: 10px;
}
.blog-2 {
	color: #bcbcbc;
	font-size: 22px;
	font-family: 'Zen Loop',cursive;
	position: absolute;
	margin-left: 10px;
	margin-top: 50px;
}
.blog-3 {
	color: #bcbcbc;
	font-size: 22px;
	font-family: 'Zen Loop',cursive;
	position: absolute;
	margin-left: 8px;
	margin-top: 80px;
}
.line-2 {
	width: 600px;
	height: 1px;
	position: absolute;
	background-color: #bcbcbc;
	margin-top: 120px;
	margin-left: 10px;
}
.all-rights-reversed {
	color: #bcbcbc;
	font-size: 22px;
	font-family: 'Zen Loop',cursive;
	position: absolute;
	margin-top: 140px;
	margin-left: 240px;
}